--extra-index-url https://download.pytorch.org/whl/cu126
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu121

llama-cpp-python

aiohttp
fastapi
pydantic
pillow
numpy==1.26.4
opencv-python>=4.11.0.86
ultralytics==8.3.190
simple-lama-inpainting-updated
onnxruntime-gpu
huggingface-hub
fugashi
unidic-lite
python-multipart
uvicorn
hayai-ocr
transformers
accelerate

torch==2.9.1
torchvision==0.24.1
torchaudio==2.9.1
